/**
 * Created by Alex Christian
 * https://github.com/acqrdeveloper
 */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.relative-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.text-facebook {
    color: #3b5998;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b4a89;
    border-color: #3d64a5;
}

.btn-facebook:focus, .btn-facebook.focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #3d64a5;
    border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-outline-facebook {
    color: #3b5998;
    background: transparent none;
    border-color: #3b5998;
}

.btn-outline-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-outline-facebook:focus, .btn-outline-facebook.focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.btn-outline-facebook.disabled, .btn-outline-facebook:disabled {
    color: #3b5998;
    background-color: transparent;
}

.btn-outline-facebook:not(:disabled):not(.disabled):active, .btn-outline-facebook:not(:disabled):not(.disabled).active,
.show > .btn-outline-facebook.dropdown-toggle {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-outline-facebook:not(:disabled):not(.disabled):active:focus, .btn-outline-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-facebook.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.form-control {
    box-shadow: inherit !important;
}

.nav-bg-default {
    background-color: #24292e !important;
    color: rgba(255, 255, 255, 0.75) !important;
}

pre {
     color: #646464 !important;
     padding: 1rem !important;
     background-color: #f5f5f5 !important;
     border-radius: 0.25rem !important;
     border: 1px solid rgba(0, 0, 0, 0.125) !important;
     border-left: 5px solid #646464 !important;
 }

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff !important;
    background-color: #007bff !important;
}

.w-1 {
    width: 1% !important;
}

.w-2 {
    width: 2% !important;
}

.w-3 {
    width: 3% !important;
}

.w-4 {
    width: 4% !important;
}

.w-5 {
    width: 5% !important;
}

.w-6 {
    width: 6% !important;
}

.w-7 {
    width: 7% !important;
}

.w-8 {
    width: 8% !important;
}

.w-9 {
    width: 9% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

/*w-25*/

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

/*w-50*/

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

/*w-75*/

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

/*w-100*/

.border-1 {
    border: 1px solid;
}

.border-top-1 {
    border-top: 1px solid;
}

.text-app {
    color: #6c757d;
}

.bg-app {
    background: #6c757d;
}

.border-default {
    color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px !important;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #898989;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(55, 55, 55, 0.25);
}
.mh-15 {
    max-height: 15vh;
}
.mh-25 {
    max-height: 25vh;
}
.mh-35 {
    max-height: 35vh;
}
.mh-50 {
    max-height: 50vh;
}
.mh-65 {
    max-height: 65vh;
}
.mh-75 {
    max-height: 75vh;
}
.mh-85 {
    max-height: 85vh;
}

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .fixed-top {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

.bg-default{
    background-color: #f7f7f7 !important;
}
.text-color-default{
    color: #24292e !important;
}
.border-color-default{
    color: #6c757d !important;
}

.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(91, 95, 103, 0.25) !important;
}

.custom-control-input:active ~ .custom-control-label::before{
    background-color: rgba(52, 58, 64, 0.27058823529411763) !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #343a40 !important;
}